.logo{
    padding-left: 5rem;
    width: 4.5rem;
    height: 4rem;
    cursor:pointer;
    padding-bottom: 0.1rem;
}
.acc_button{
    background-color: #407206;
    color: white;
    padding:7px 15px;
    border-radius: 3rem;
    border: none;
}
.mobile_menu{
    display: none;
    flex-direction: column; 
    position: absolute;             
  top: 5.2rem;                    
  right: 1rem; 
}
.buttons{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 1rem;
    padding-right: 5rem;
}
.enroll{
    text-decoration: none;
    color: black;
    position: relative;
}
.join_contri{
    padding: 0;
    border: none;
    background:transparent;
    font-size: 1rem;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    background-color:#eeeea1;
}
.edu_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    background-color: white;
}
.profile{
    border-radius: 5.2rem;
    border: none;
    background-color:#eeeea1;
}
.mob_menu{
    display: none;
}


@media(max-width:768px){
    .buttons{
        display:none;
    }
    .mobile_menu{
        z-index: 10;
        gap: 1rem;
        padding: 0.2rem 2rem;
        background-color: #96ca5b;
        border-radius: 1rem;
    }
    .logo{
        padding-left: 1rem;
    }
    .mob_menu{
        display: flex;
        padding: 2rem;
    }
}